@media (min-width:768px) {
    .container {
        margin: 0px 55px;
    }

    /* header values inherit from min width 576px */
    /* ============= homepage ========= */
    .homepage .homecontent {
        width: 600px;
    }

    .homepage .homecontent h1 {
        font-size: 50px;
    }

    .homepage .homecontent p {
        font-size: 20px;
    }
}